.PizzaBottom{
    width: 0px;
    height: 0px;
    border-right: 280px solid transparent;
    border-top: 280px solid #e09b31;
    border-left: 280px solid #e09b31;
    border-bottom: 280px solid #e09b31;
    border-top-left-radius: 280px;
    border-top-right-radius: 280px;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 280px;
    position: absolute;
    margin: 20px;
    transform: rotate(-20deg);
    width: 0px;
    height: 0px;
    border-right: 260px solid transparent;
    border-top: 260px solid #ffc61c;
    border-left: 260px solid #ffc61c;
    border-bottom: 260px solid #ffc61c;
    border-top-left-radius: 260px;
    border-top-right-radius: 260px;
    border-bottom-left-radius: 260px;
    border-bottom-right-radius: 260px;
    transform: rotate(-20deg);
    position: absolute;
    top: 40px;
    left: 40px;


}